<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {'id': '1', 'name': 'More than a song', 'artist': 'Dunsin Oyekan', 'year': '2020'} -->
    <h4>ID: {{ song.id }}</h4>
    <h4>SONG TITLE: {{ song.name }}</h4>
    <h4>ARTIST: {{ song.artist }}</h4>
    <img src="{{ url_for('static', filename='img/')}}{{ song.img }}" alt=" Photo of {{ song.artist }}" />
</body>
</html>